/***********/
/* GENERAL */
/***********/
body{
    color: aqua;
}
h1{
    color:#C24040; /* Justine*/
    font-family: 'Lobster Two', cursive; /* Justine*/
    font-size: 75px; /* Justine*/
    text-shadow: none; /* Justine*/
    text-decoration:underline;
}
*{
    text-align: center;
    color: white;
    text-shadow: 2px 2px black; 
}

.container {
    margin: 0 auto;
    width: 80vw;

}

/* COULEURS TEST */

.couleur1 {
    background-color:#FDD784; /* Justine*/
    flex: auto;
}
.couleur2 {
    background-color:#F6745A; /* Justine*/
    flex: auto;
}

/************/
/* CAROUSSEL*/
/************/

.logo {
    position: relative;
    top: 80px;
    left: 2%;
    width: 100px;
    height: 100px;
    border-radius:100%;
}


.carousel-inner{
    height: 500px;
   
}


/**********/
/* NAVBAR */
/**********/

.menu {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    font-family: 'Madelyne Bold'; /* Justine*/
    display: flex;
    flex-direction: column;     
    background-image: url(img/scissors-303776.svg); 
    background-repeat: no-repeat; 
    background-color: #FDD784;
    transition: 1s;
    background-size: 85px;
   
}
.menu:hover{
    background-image: url(img/scissors-2795641_640.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffE8a5;
    background-size: 85px;
    
}
.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-family: 'Madelyn'; /* Justine*/
    
}
.menu ul li {
    height: 50px;
    padding: auto 0;
}
.menu ul li a {
    color: white;
}

/**************/
/* Page Index */
/**************/

.info-cal {
    margin: 3vh 0;
    display: flex;
    flex-direction: row;

}

.information{
    width: 65%;
    height: 450px;
    margin-right: 3vw;

}
.text p{  /* Justine*/
    color: white;
    text-shadow: none;
    font-family: 'Purisa';
    font-size: 75%;

}
section{  /* Justine*/
    column-count: 1;
    margin: 20px;
}
h2{  /* Justine*/
    color: white;
}

#image-info {
    width: 30%;
    height: 35%;
    float: left;
    background-image:url(img/logo.png);
    background-size: 208px;
    background-repeat: no-repeat;

}

.calendrier{
    width: 35%;
    height: 450px;

}
h3{
    margin-top: 50px;
}
#imgCalendrier{
    width:100%;
    height: 35%;
    margin-top: 9%;
}

/*****************/
/**Page*Creation**/
/*****************/

.colonne{
    display:flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Créations*/

.sections {
    width: 70%;
}

.sections p {
    margin:0;
}

.section {
    height: 190px;
    margin-bottom: 10px;
}
.section:last-child {
    margin-bottom: 0;
}
.Creation{
    width:97%;
    height:155px;
    margin:1.7% 1.5% 0 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.Creation img {
    width: 66%;
    height: 100%;
}

/*Menu Lateral*/

.menu-lateraux {
    width: 20%;
    min-height: 600px;
}
.menu-lateral:first-child {
    margin-bottom: 10%;
}
.menu-lateral {
    height: 50%;
}
/**********/
/* FOOTER */
/**********/

footer { 
    width: 100%;
    height: 50px;
    margin-bottom: 5vh;
}
.foot {  /* Justine*/
    background-image: "";
    background-image: "";
    background-image: "";
}